.service-background-img {
  background-image: url(../../assets/footer.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
}
.serviceOne {
  width: 350px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px;
  padding: 40px 13px 30px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
.service-img img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .service-grid {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .service1 {
    margin-top: 200px;
  }

  .serviceOne {
    width: 350px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px;
    padding: 40px 13px 30px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
  }
  .service-grid {
    display: grid;
    grid-template-columns: auto;
  }
}
